/*-----------------------------------------------------------------------------------
Template Name: New HTML5 Template,
Template URI: http://www.themectg.com
Description: This is html5 template
Author: Themectg
Author URI: http://www.themectg.com
Version: 1.0
-----------------------------------------------------------------------------------
CSS INDEX
===================
1. Google font
2. Theme Default CSS
-----------------------------------------------------------------------------------*/


/*-----------------
1. Google font
------------------*/

@import url('https://fonts.googleapis.com/css?family=Arvo|Montserrat');

/*-------------------
2. Theme Default CSS
--------------------*/

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #ffffff;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
    font-family: 'norwesterregular';
}

html,
body {
    height: 100%
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #ffffff;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.vcenter {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}

.footer-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
}

.section-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-bg.black {
    background-color: #B87CB5;
}

.section-bg.header-bg {
    background-image: url("images/background.jpg");
    opacity: 0.5;
}

.mainmenu-area {
    padding-top: 15px;
}

.mainmenu-area ul.nav li {
    display: inline-block;
}

.mainmenu-area ul.nav li a {
    background: none;
    display: block;
    letter-spacing: 1.5px;
    position: relative;
    padding: 15px 20px;
    margin: 5px;
    overflow: hidden;
    border: 1px solid #ffffff;
    border-bottom: none;
    text-transform: uppercase;
    font-size: 13px;
}

.mainmenu-area ul.nav li a:after {
    content: "";
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.mainmenu-area ul.nav li.active a:after {
    left: 0;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand img {
    max-height: 50px;
}

.headline {
    font-size: 90px;
    text-transform: capitalize;
    letter-spacing: 20px;
    line-height: 1.4
}
.page-title {
    font-size: 40px;
    margin-bottom: 20px;
}
.headline span {
    display: block;
}

.countdown ul#countdown {
    position: relative;
    padding-left: 150px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.countdown ul#countdown li {
    display: block;
    padding-bottom: 70px;
    background: url("images/bullet.png") no-repeat scroll top 9px left 40% / auto 85%;
    text-transform: uppercase;
    color: #ffffff;
}

.countdown ul#countdown li span {
    padding-right: 50px;
    font-size: 20px;
    line-height: 1;
}

.countdown ul#countdown li:first-child {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    background: none;
    background-color: #B87CB5;
    display: block;
    text-align: center;
    padding: 30px 25px;
    border-radius: 4px;
}

.countdown ul#countdown li:first-child span {
    padding-right: 0;
    font-size: 30px;
    line-height: 1;
    display: block;
}

.countdown ul#countdown li:last-child {
    padding: 0;
    background-size: 7px auto;
}

.link-btn {
    display: inline-block;
    padding: 10px;
}

.link-btn i.fa {
    padding-left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-btn:hover i.fa {
    padding-left: 10px;
}

.social-list li a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 2.5;
    font-size: 16px;
    border-radius: 50%;
}

.social-list li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn {
    border: medium none;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    letter-spacing: 6px;
    /*padding: 18px 30px;*/
    text-transform: uppercase;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    /*background-color: #ffffff;*/
    -webkit-transform: translateY(0);
        transform: translateY(0)
}

.btn.btn-default:hover {
    -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    -webkit-box-shadow: 0 15px 20px -10px rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 20px -10px rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
}

.form-control {
    border: medium none;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    padding: 14px 16px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.subscribe-form .form-box {
    background: none;
    height: 45px;
    padding: 10px 18px;
    width: 70%;
    max-width: 320px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin-right: 5px;
    margin-bottom: 10px;
        
}
.subscribe-form {
    position: relative;
}

.subscribe-form label {
    position: absolute;
    left: 0;
    top: -30px;
}

.subscribe-form .form-btn {
    height: 45px;
    padding: 10px 30px;
    line-height: 1;
    background-color: #ffffff;
    border: none;
    color: #000000;
    border-radius: 2px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.subscribe-form .form-btn:hover {
    letter-spacing: 1.5px
}